/* Login.module.css */


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Faz o contêiner ocupar toda a altura da tela */
}

.login-box {
  padding: 120px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #343a40;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


a{
  text-align: center;
  color: rgb(122, 21, 153);
  text-decoration: none;
  
}